*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container{
  width: 1200px;
  padding: 0 15px;
}

#neighbourhood{
  padding: 125px 0 110px;
}

.residents{
  width: 239px;
  height: 252px;
  background: #fff;
  box-shadow: 90px 85px 100px rgba(0, 0, 0, 0.06);
  border-radius: 0px 0px 12px 12px;
  padding: 45px 22px;
  position: absolute;
}

.number{
  margin-bottom: 8px;
}

.num{
  display: inline-block;
  font-weight: bold;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #000339;
}

.room-text{
  font-size: 12px;
  line-height: 18px;
  color: #a7a7a7;
  padding-bottom: 26px;
  border-bottom: 1px solid #e9e9e9;
}

.neighbourhood-img{
  margin-right: 165px;
}

.residents-info{
  width: 309px;
}

.line{
  display: block;
  width: 41px;
  height: 4px;
  background-color: #000339;
  border-radius: 12px;
  margin-bottom: 10px;
}

.residents-title{
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  color: #000339;
  margin-bottom: 20px;
}

.residents-text{
  font-size: 16px;
  line-height: 30px;
  color: #5a6473;
}

